school_name,tuition
Washington Academy,45000
Roosevelt Preparatory,38500
Madison Academy,42000
Adams Academy,35000
Hamilton Preparatory,48000
St. Mary's Preparatory School,40000
Phillips Exeter Academy,57000
Choate Rosemary Hall,65000
